{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"globals": {
		"fin": true
	},
	"rules": {
		"no-restricted-globals": "off",
		"jsx-a11y/anchor-has-content": "off",
		"@typescript-eslint/no-angle-bracket-type-assertion": "off",
		"semi": "error"
	}
}
