<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Toolbar</title>
		<script src="../../vendor.bundle.js"></script>
		<!-- 
			This link is a workaround until Finsemble fixes the font-finance font family not fetching correctly
			Once they push a version with a patch, we can upgrade to it and remove this line
		-->
		<link rel="stylesheet" href="../../assets/css/font-finance.css" />
	</head>

	<body class="finsemble-toolbar-body">
		<div id="Toolbar-tsx" />
		<script src="Toolbar.js"></script>
	</body>
</html>
