:root {
	--Brand-Primary: #28588d;
	--light-core-primary: #ffffff;
	--light-core-primary-1: #f4f6f9;
	--light-core-primary-2: #e9edf3;
	--light-core-primary-3: #d4dde8;
	--light-core-primary-4: #beccdc;
	--light-core-secondary: #444c5f;
	--light-core-secondary-1: #737987;
	--light-core-secondary-2: #565d6e;
	--light-core-secondary-3: #282d39;
	--light-core-secondary-4: #a1a5ae;
	--dark-core-primary: #2f3542;
	--accent-primary: #5f94f5;
	--accent-primary-1: #4c76c4;
	--accent-primary-2: #aec9f9;
	--accent-good: #28c988;
	--accent-good-1: #23b47a;
	--accent-good-2: #93e4c3;
	--accent-be-aware-1: #e0a744;
	--accent-be-aware-2: #fcdca5;
	--accent-bad: #f94c4c;
	--accent-bad-1: #e04444;
	--accent-bad-2: #fca5a5;
	--butterscotch: #f9ba4c;
}
