.finsemble-toolbar-button {
	margin-right: 8px;
	margin-left: 8px;
}

.finsemble-toolbar-brand-logo {
	margin-right: auto;
}

.finsemble-toolbar-drag-handle {
	padding: 10px 5px 0px 6px;
	background-color: black;
}

.divider:before {
	height: 39px; /* the same height as the toolbar */
}

.finsemble-toolbar-window-controls {
	margin-top: 4px;
}
